<launch>
    <!-- This launchs takes care of starting up the laser (Lidar) and the (esp) TODO: Bring Camera up here-->
    <!-- Lidar include-->
    <!-- ESP include-->
    <node name="rosserial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port"
         type="string" value="/dev/ttyUSB1"/>
        <param name="baud" value="115200"/>
    </node>
    <include file="$(find arlobot_uv_launcher)/launch/rplidar.launch" />

    <!-- TODO@ Include camera node include-->
    <!-- BringUp files-->
    <include file="$(find arlobotcar_bringup)/launch/bringup_stable.launch" />
    
    <!-- T265-->
    <!--<include file="$(find realsense2_camera)/launch/rs_t265.launch" />-->

    <!-- odemetria de la camara-->
    <include file="$(find arlobotcar_bringup)/launch/camera_test.launch" />

</launch>