<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find robotPV_V1_description)/urdf/robotPV_V1.xacro"/>


  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
        <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
        <rosparam command="load" file="$(find arlobotcar_bringup)/config/rplidar_laser_config.yaml" />
    </node>
</launch>