<launch>

    <arg name="camera" default="t265" />
    <arg name="tf_prefix" default="$(arg camera)" />

    <arg name="configuration_basename" default="arlobot_uv_exp_maps.lua" />
    <rosparam param="ticks_meter">300</rosparam>

    <!-- <node pkg="arlo_control_msgs" type="arlo_msg_controller_vel.py" name="arlo_msgs_control_node" output="screen"/> -->

    <node pkg="arlo_control_msgs" type="arlo_msg_controller_vel.py" name="arlo_msgs_control_node" output="screen" />


    <!-- differential drive control -->

    <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors">
        <rosparam param="base_width">0.393</rosparam>
        <remap from="lwheel_vtarget" to="lwheel_vtarget" />
        <remap from="rwheel_vtarget" to="rwheel_vtarget" />
        <remap from="twist" to="cmd_vel" />
    </node>

    <include file="$(find arlobot_description)/launch/arlobot_uv_description.launch">
        <arg name="robot_sim" value="false" />
    </include>


    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
        <rosparam command="load" file="$(find cartographer_launcher)/config/rplidar_laser_config.yaml" />
    </node>

    <!-- cartographer_node -->
    <node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node" args="-configuration_directory $(find cartographer_launcher)/config
              -configuration_basename $(arg configuration_basename)" output="screen">
        <remap from="scan" to="scan_filtered" />
        <!-- <remap from="odom" to="/t265/odom/sample" /> -->
    </node>

    <!-- cartographer_occupancy_grid_node -->
    <node pkg="cartographer_ros" type="cartographer_occupancy_grid_node" name="cartographer_occupancy_grid_node" args="-resolution 0.05" />
    <!-- 
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_rs_t265_link" args="-0.2248 0 0.2459 0 0 0 base_footprint $(arg tf_prefix)_link 1000" /> -->

    <!-- <node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="0 0 0 0 0 0 map odom 1000" /> -->

    <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_rs_t265_imu_link" args="-0.2248 0 0.2459 3.1415 0 0 base_footprint $(arg tf_prefix)_imu_optical_frame 1000" /> -->


</launch>