<?xml version="1.0"?>
<launch>
  <arg name="open_rviz" default="true"/>
  <arg name="configuration_basename" default="turtlebot3_lds_pure2d_exp_maps_t265.lua"/>
  <arg name="urdf_file" default="xacro '$(find arlobot_description)/urdf/common_default_t265.urdf.xacro'"/>
  <param name="robot_description" command="$(arg urdf_file)"/>
  <rosparam param="ticks_meter">300</rosparam>
  <rosparam param="base_width">0.393</rosparam>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <include file="$(find cartographer_launcher)/launch/rs_t265.launch"/>

  <node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="5 cartographer_launcher rs_d435.launch" name="timed_roslaunch_d435" output="screen" />

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" output="screen">
    <rosparam command="load" file="$(find cartographer_launcher)/config/rplidar_laser_config.yaml" />
  </node>

  <!-- Rplidar node -->
  <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="log">
    <param name="serial_port" type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate" type="int" value="115200"/>
    <!--A1/A2 -->
    <param name="frame_id" type="string" value="neato_laser"/>
    <param name="inverted" type="bool" value="false"/>
    <param name="angle_compensate" type="bool" value="true"/>
  </node>

  <!-- diff drive nodes -->
  <node pkg="differential_drive" type="diff_tf.py" name="diff_tf_node">
    <rosparam param="base_frame_id">"base_footprint"</rosparam>
    <rosparam param="odom_frame_id">"odom"</rosparam>
    <rosparam param="rate">30</rosparam>
    <remap from="rwheel" to="rwheel"/>
    <remap from="lwheel" to="lwheel"/>
    <remap from="odom" to="wheel_odom"/>
  </node>

  <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors">
  </node>

  <node pkg="amr_arlo_encoders" name="encoders_node" type="main2.py">
    <param name="encoders_port" type="string" value="/dev/ttyUSB1"/>
    <param name="serial_baudrate" type="int" value="115200"/>
  </node>

  <!-- cartographer_node -->
  <node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node" args="-configuration_directory $(find cartographer_launcher)/config  -configuration_basename $(arg configuration_basename)">
    <remap from="imu" to="/rs_t265/imu" />
    <remap from="odom" to="/rs_t265/odom/sample"/>
    <remap from="scan" to="/scan_filtered"/>
    <remap from="points2" to="/d435i/depth/color/points" />
  </node>

  <!-- cartographer_occupancy_grid_node -->
  <node pkg="cartographer_ros" type="cartographer_occupancy_grid_node" name="cartographer_occupancy_grid_node" args="-resolution 0.02"/>

  <!-- rviz -->
  <!--<group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find cartographer_launcher)/rviz/turtlebot3_cartographer.rviz"/>
  </group>-->
</launch>
