<launch>
    <!-- move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <rosparam file="$(find cartographer_launcher)/param/dwa_planner/exp/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find cartographer_launcher)/param/dwa_planner/exp/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find cartographer_launcher)/param/dwa_planner/exp/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find cartographer_launcher)/param/dwa_planner/exp/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find cartographer_launcher)/param/dwa_planner/exp/base_local_planner_params.yaml" command="load" />
        <remap from="odom" to="/odom" />
        <remap from="cmd_vel" to="/raw_cmd_vel" />
    </node>

</launch>