<launch>
    <arg name="node_start_delay" default="1.0" />  
    <arg name="device_type_camera1" default="t265"/>
    <arg name="device_type_camera2" default="d435i"/>
    <!-- Note: using regular expression. match D435, D435i, D415... -->
    <arg name="serial_no_camera1" default="15322110064"/>
    <arg name="serial_no_camera2" default="021222072355"/>
    <arg name="camera1" default="t265"/>
    <arg name="camera2" default="d400"/>
    <arg name="tf_prefix_camera1" default="$(arg camera1)"/>
    <arg name="tf_prefix_camera2" default="$(arg camera2)"/>
    <arg name="initial_reset" default="true"/>
    <arg name="enable_fisheye" default="true"/>
    <arg name="color_width" default="640"/>
    <arg name="color_height" default="480"/>
    <arg name="depth_width" default="640"/>
    <arg name="depth_height" default="480"/>
    <arg name="clip_distance" default="-2"/>


    <arg name="fisheye_fps" default="30"/>

    <arg name="gyro_fps" default="200"/>
    <arg name="accel_fps" default="62"/>
    <arg name="enable_gyro" default="true"/>
    <arg name="enable_accel" default="true"/>
    <arg name="enable_pose" default="true"/>
    <arg name="enable_sync" default="true"/>
    <arg name="publish_odom_tf" default="true"/>
    <arg name="odom_frame_id" default="base_footprint"/>
    <arg name="topic_odom_in" default="/wheel_odom"/>
    <arg name="unite_imu_method" default="linear_interpolation"/>
    <arg name="calib_odom_file" default="$(find arlobot_description)/config/calibration_odometry.json" />
    <arg name="base_frame_id" default="base_link"/>

    <group ns="$(arg camera1)">
        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
            <arg name="device_type" value="$(arg device_type_camera1)"/>
            <arg name="serial_no" value="$(arg serial_no_camera1)"/>
            <arg name="tf_prefix" value="$(arg tf_prefix_camera1)"/>

            <arg name="fisheye_fps" value="$(arg fisheye_fps)"/>
            <arg name="gyro_fps" value="$(arg gyro_fps)"/>
            <arg name="accel_fps" value="$(arg accel_fps)"/>
            <arg name="enable_gyro" value="$(arg enable_gyro)"/>
            <arg name="enable_accel" value="$(arg enable_accel)"/>

            <arg name="enable_pose" value="$(arg enable_pose)"/>
            <arg name="enable_sync" value="$(arg enable_sync)"/>
            <arg name="publish_odom_tf" value="$(arg publish_odom_tf)"/>
            <arg name="odom_frame_id" value="$(arg odom_frame_id)"/>
            <arg name="topic_odom_in" value="$(arg topic_odom_in)"/>
            <arg name="unite_imu_method" value="$(arg unite_imu_method)"/>
            <arg name="calib_odom_file" value="$(arg calib_odom_file)"/>
            <arg name="base_frame_id" value="$(arg base_frame_id)"/>

            <arg name="initial_reset" value="$(arg initial_reset)"/>
            <arg name="enable_fisheye1" value="$(arg enable_fisheye)"/>
            <arg name="enable_fisheye2" value="$(arg enable_fisheye)"/>
        </include>
    </group>

    <group ns="$(arg camera2)">
        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
            <arg name="device_type" value="$(arg device_type_camera2)"/>
            <arg name="serial_no" value="$(arg serial_no_camera2)"/>
            <arg name="tf_prefix" value="$(arg tf_prefix_camera2)"/>
            <arg name="initial_reset" value="$(arg initial_reset)"/>
            <arg name="align_depth" value="true"/>
            <arg name="filters" value="pointcloud"/>
            <arg name="color_width" value="$(arg color_width)"/>
            <arg name="color_height" value="$(arg color_height)"/>
            <arg name="depth_width" value="$(arg depth_width)"/>
            <arg name="depth_height" value="$(arg depth_height)"/>
            <arg name="clip_distance" value="$(arg clip_distance)"/>
        </include>
    </group>
    <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_rs_t265_link" args="-0.21 0.01 0.11 0 0 0 $(arg tf_prefix_camera1)_pose_frame base_link 100" /> -->
    <node pkg="tf" type="static_transform_publisher" name="t265_to_d400" args="0 0 10 0 0 0 $(arg tf_prefix_camera1)pose_frame $(arg tf_prefix_camera2)_link 100"/>
</launch>