<?xml version="1.0"?>

<launch>

    <arg name="output" default="screen" />

    <!-- Start octomap_laser_scan node -->
    <node name="fetch_move_base_planner" pkg="fetch_move_base_planning" type="fetch_move_base_planner" required="true" output="screen">
        <rosparam command="load" file="$(find arlobot_uv_launcher)/config/covibot_move_base_planning.yaml" />
    </node>

    <!-- Start control node -->
    <node name="fetch_move_base_controller" pkg="fetch_move_base_control" type="base_controller.py" required="true" output="screen">
        <rosparam command="load" file="$(find arlobot_uv_launcher)/config/covibot_move_base_control.yaml" />
    </node>


</launch>